.card,
.btn,
input {
  border-radius: 0 !important;
}

.app {
  display: grid;
  grid-template-columns: 1fr min(99ch, 100%) 1fr;
  min-block-size: 100vh;
  overflow-x: hidden;
}

.app>* {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

@media screen and (max-width: 980px) {
  .app {
    padding: 0 1rem;
  }
}

.tabContait {
  background-color: #778899;
  /* margin: 3px; */
  padding: 3px;
  margin-top: 10px;
}

.mainTabContainer {
  border: 2px solid #dcdcdc;
  border-radius: 5px;

}

.tabContait p {
  background-color: #ccc;
  text-align: center;
  padding: 5px;
}

.img-fluid {
  width: 100%;
  height: 100%;
}

.tabContait p,
.tabContait h4 {
  margin-bottom: 5px;
}

.tabContait .Sepura {
  margin-bottom: 50px;
}

.home-item-box {
  background-color: #778899;
  width: 400px;
  padding: 15px;
  border: 3px solid #dcdcdc;
  height: 80px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 100px;

}

.home-item-box-control {

  background-color: white;
  width: 400px;
  padding: 15px 80px;
  font-size: 20px;
  border: 8px solid #dcdcdc;
  color: red;
  text-align: left;
  margin-top: 100px;

}

.home-page-pager div .fa-lg {
  font-size: 11em !important;
  margin-top: 50px;
}


/* Tool page css */

.tool-container {
  background-image: url(./assets/tool.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.tool-item-box,
.tool-item-box3 {
  /* background-color: #778899; */
  background-color: rgba(225, 225, 225, 0.5);
  width: 400px;
  padding: 15px;
  border: 6px solid #dcdcdc;
  height: 80px;
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 100px;

}

/* Profile */

.profile-container {
  height: 100vh;
  margin: 0px;
}

.profile-range-content span {
  font-weight: 600;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {

  .tool-item-box,
  .tool-item-box3 {
    margin-top: 50px;

  }
}

@media screen and (max-width: 540px) {
  .h-auto-tool-box {
    height: 89px !important;
  }
}

@media screen and (max-width : 992px) {
  .home-item-box-control {
    width: 200px;
    height: 60px;
    padding: 6px 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1280px) {
  .img-fluid {
    width: 100%;
    height: 100%;
  }

  .home-item-box {
    width: 250px;
    height: 70px;
  }

  .home-item-box-control {
    width: 250px;
    height: 70px;
    padding: 5px 8px;
    text-align: center;
    font-size: 12px;
  }
}

.legentStyle {
  position: relative;
  top: 22px;
  left: 20px;
  z-index: 10;
  background-color: #99b4d1;
  font-size: 15px;
  width: auto;
  padding: 5px;
}

.costumInput {
  height: 25px;
  border: 1.5px solid #7a7a7a;
  width: 100%;
  font-size: 13px;
}

.costumInput:focus {
  height: 25px !important;
  border: 1.5px solid #7a7a7a !important;
  width: 100% !important;
  font-size: 13px !important;
}

.CostumButton {
  border: 1px solid black;
  background-color: transparent;
  width: 100%;
}

.CostumButton2 {
  border: 1px solid #dee2e6;
  background-color: transparent;
  margin-top: 5px;
  width: 100%;
}

.custom-buttom-container {
  margin-top: 5px;
  padding: 5px;
  border: 3px solid #dee2e6;
}